<div class="sidebar">
    <h2>FINTECH LOAN SYSTEM</h2>
    <ul>
      <li>
        <a routerLink="/modules/customers" routerLinkActive="active">Customers</a>
        <ul>
          <li><a routerLink="/modules/customers/list" routerLinkActive="active">Customer List</a></li>
          <li><a routerLink="/modules/customers/add" routerLinkActive="active">Add Customer</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="/modules/loans" routerLinkActive="active">Loans</a>
        <ul>
          <li><a routerLink="/modules/loans/list" routerLinkActive="active">Loan List</a></li>
          <li><a routerLink="/modules/loans/add" routerLinkActive="active">Apply for Loan</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="/modules/payments/" routerLinkActive="active">Payments</a>
        <ul>
          <li><a routerLink="/modules/payments/list" routerLinkActive="active">Payment List</a></li>
          <li><a routerLink="/modules/payments/make" routerLinkActive="active">Make a Payment</a></li>
        </ul>
      </li>
    </ul>
</div>
